#contactForm > textarea {
  width: 80%;
  max-width: 900px;
  height: 30%;
  max-height: 300px;
}

.contactButton {
	text-decoration: none;
	color: #22262a;
	font-size: 1rem;
	letter-spacing: 1px;
	background-color: hsla(0, 0%, 100%, 0.8);
	border-radius: 3px;
	padding: 0.5rem 2rem;
	z-index: 1;
}